body {
    background-image: url("39587114-library-wallpapers.jpg");
  }
.navbar {
  background-color: black;
  height: 40px;
  }
ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
  }
ul li {
  width: 10%;
  padding: 10px;
  float:left;
}
ul li a{
    color: white;
    text-decoration: none;
    display: block;
  }
ul li ul li {
  width: 100%;
  float:left;
  display:none;
  background-color:black;
  z-index: 1;
  }
ul li :hover{
    background-color: red;
  }
ul li:hover ul li {
    display:block;
  }
button{
    width: 55px;
    background-color: red;
    color: white;
    border-radius: 10px;
    border:none;
}
.clr{
  clear:both;
}
.continer{
  width: 100%;
  margin: 130px 0 ;
}
.box{
    width: 29%;
    margin: 2%;
    text-align: center;
    display: inline-block;
    background-color: black;
}
.box h1{
  text-align: center;
    padding: 20px;
    color:white;
}

img{
    margin:auto;
    padding: 3%;
    width: 40%;
    height: 150px;   
}

